<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new account</title>
</head>
<body>
<form action="/new-account" enctype="multipart/form-data" method="POST">
    <div class="section">Note: Only image files are allowed.</div>
        <div class="inner-wrap">
            <label><input type="file" id="photo1" name="photo1" /></label>
            <label><input type="file" id="photo2" name="photo2" /></label>
            <label><input type="file" id="photo3" name="photo3" /></label>
            <label><input type="file" id="photo4" name="photo4" /></label>
            <label><input type="file" id="photo5" name="photo5" /></label>
            <label><input type="text" id="username" name="username" /></label>
            <div class="button-section">
                <input type="submit" name="Upload" value="Send sign"/>
            </div>
        </div>

    </div>
</form>
<h1><a href="send_photo.html">check signature</a></h1>
</body>
</html>