<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>check image</title>
</head>
<link>
<form action="/check" enctype="multipart/form-data" method="POST">
    <div class="section">Note: Only image files are allowed.</div>
        <div class="inner-wrap">
            <label><input type="file" id="photo" name="photo" /></label>
            <label><input type="text" id="username" name="username" /></label>
            <div class="button-section">
                <input type="submit" name="Upload" value="Send sign"/>
            </div>
        </div>

    </div>
</form>
<link><a href="/new-account">new account</a></link>
</body>
</html>